################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bakery/bin/Debug/net6.0
/Bakery/obj
